body {
	background-color: white;
}

h3 {
	color: white
	margin-left: 45px;
}
h3 {text-align:center}
h3 {
    background-color: black;
}

.head {font-family: helvetica;
font-style: italic; }

}

p {
    background-color: yellow;
}
