.box{ width:1000px; height:600px; margin:50px auto; border:1px solid #ddd; position: relative;}

.top_1{ width:100px; height:100px; background:#ddd; position:absolute; top:10px; left:10px}
.top_2{ width:100px; height:20px; background: #ddd; position:absolute; right:10px; top:100px;}
.left_1{ width:250px; height:200px; position: absolute; left:10px; top:120px;}
.left_1 p{  left:10px; width:200px; height:7px;}
.left_2{ position:absolute; top:250px; left;10px; width:250px; height:200px; left:10px; display:block}
.left_2_1{ position: absolute; width:100px; height:20px; background:#ddd; display: block}
.left_2_2{ position: absolute; width:100px; height:20px; background:#ddd; display: block; top:88px}
.right_1{ position:absolute; right:10px;width:750px; height:400px; top:150px}
.right_1_1 p{ position:absolute; width:100px; height:20px; display: block; left:10px}
.right_1_2{ width:100px; height:20px; background:#ddd; position:absolute; top:50px; left:10px;}
.right_1_3{ width:100px; height:20px; background:#ddd; position:absolute; top:50px; left:120px;}
.right_1_4{ width:330px; height:100px; background:#ddd; position:absolute; top:100px; left:10px;}
.right_1_5{ width:330px; height:100px; background:#ddd; position:absolute; top:100px; left:350px;}




.portal{ width:1000px; height:500px; margin:50px auto; border:1px solid #ddd; position: relative;}
.portal_top{ width:1000px; height:80px;}
.portal_top_1{ width:80px; height:80px; background:#ddd; position: absolute; top:10px; left:10px;}
.portal_top_2{ width:380px; height:50px; background:#ddd; position:absolute; top:40px; left:295px;}
.portal_top_3{ width:50px; height:50px; background:#ddd; position:absolute; top:20px; right:100px;}
.portal_top_4 p{ width:86px; height:20px;  position:absolute; top:-5px; right:10px;}
.portal_middle{ width:980px; height:50px;background: linear-gradient(to left, #ffffff , #d1d1db); position:absolute; top:100px; left:10px; }
.portal_bottom{ width:980px; height:340px; top:160px; position:absolute; left:10px}
.portal_bottom_1{ width:180px; height:180px; background:#ddd; position:absolute;top:75px; left: 140px;}
.portal_bottom_2 p{ width:80px; height:20px; display:block; line-height:10px;position:absolute; left: 320px;top: 105px;text-align: center}
.portal_bottom_3 p{ width:80px; height:20px; display:block; line-height:10px;position:absolute; left: 320px;top: 160px;text-align: center;}
.portal_bottom_4{ width:300px; height:30px; border:1px solid #ddd; position:absolute; right:280px; top:115px}
.portal_bottom_5{ width:300px; height:30px; border:1px solid #ddd; position:absolute; right:280px; top:170px}
.portal_bottom_6{ width:100px; height:20px; background:#ddd; position:absolute; bottom:90px; left:50%}
.portal_bottom_7 p{ width:700px; height:20px; display:block; position:absolute; left:10%; line-height:20px; text-align:center; bottom:20px;}





